<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml">
    <title>{{title}}</title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    
    <!-- NEAT CSS -->
    <link rel="stylesheet" href="{{ '/static/css/neat.css' | url }}" />
    
    <!-- Syntax highlighting solo se necessario -->
    {% if prism == true %}
      <link rel="stylesheet" href="{{ '/static/css/prism.css' | url }}" />
    {% endif %}
    
    <!-- Eventuali personalizzazioni -->
    <link rel="stylesheet" href="{{ '/static/css/custom.css' | url }}" />
    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "./partials/footer.html" %}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>