---
permalink: /debug.html
---
<h1>Debug Collections</h1>

<h2>Collections disponibili:</h2>
<ul>
{% for name, items in collections %}
  <li>{{ name }} - {{ items.length }} items</li>
{% endfor %}
</ul>

<h2>Collection 'post' specifica:</h2>
{% if collections.post %}
  <p>Trovati {{ collections.post.length }} post in collections.post</p>
{% else %}
  <p>collections.post non esiste!</p>
{% endif %}